.ant-form-item {
   width: 400px; /* Задайте нужную ширину */
   InputNumber{
      width: 400px; 
   }
 }
 
 .form-item-custom {
   width: 400px; /* Или любая другая желаемая ширина */
 }
 .centered-button{
   display: flex;
  justify-content: center;
 }
 .Generator_WRAPPER{
   display: flex;
   justify-content: center;
 }